* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    background-image: url("img/mountains.jpg");
    /* Full height */
    height: 100%;
  /* Create the parallax scrolling effect */
    background-position: center;
    background-size: cover;
    color: #000;
}
.glyphicon {
    margin: 20px;
    height: 30px;
    width: 50px;
}
